/*html{*/
    /*touch-action: none;*/
/*}*/
body{
    margin: 0;
}
.Preview{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    visibility: hidden;
}
.Preview_visible{
    visibility: visible;
}
.Video1{
    background-color: #55ae10;
}
.Video2{
    background-color: #460aae;
    transform: translateX(320px);
}
.Video3{
    background-color: #a9ae0f;
    transform: translateY(220px);
}
.Video4{
    background-color: #ae2110;
    transform: translate(320px, 220px);
}
